################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
[Oo]bj
[Bb]in
[Dd]ebug
[Cc]sx/
[Pp]kg/
*.binlog
/packages
*.user
